@{
    ViewData["Title"] = "SEGE | Inicio";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Bienvenido(a)</div>

                <div class="card-body">
                    <h5>
                        Jesús Iván Domínguez Torres
                        <br>
                        <small class="text-muted">jdominguez@seslp.gob.mx</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>